.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.description {
  margin-top: 0;
  color: #616e7c;
}
.title {
  font-weight: bold;
  font-size: 18px;
}
.date {
  color: #9aa5b1;
  font-size: 15px;
}
.list-item {
  border-bottom: 1px solid #9aa5b1;
}
